//blank
.body
  background-image url("../img/bg.png")
  background-size contain
  background-repeat no-repeat
  background-position center
  background-attachment fixed

.h1
  font-size 1.6rem
  line-height 2em
  text-align center

.contents
  width 100%
  max-width 1000px
  padding 20px
  margin 0 auto
  background-color rgba(255, 255, 255, 0.8)
  +sp()
    padding 0
