html
  font-size 10px
  font-family 'Yu Gothic', YuGothic, 'Helvetica Neue', 'メイリオ', meiryo, 'Hiragino Kaku Gothic ProN', sans-serif;
  color $base-font-color
  box-sizing border-box
  -webkit-text-size-adjust 100%
ul
  margin 0
  padding 0
  list-style none
